opencv-python                 4.5.2.54
numpy                         1.19.5
keras-squeezenet              0.4
Keras                         2.4.3
tensorflow                    2.5.0
tf                            1.13.2

